DATABASE_URL="file:./dev.db"

# Generate with: openssl rand -base64 32
AUTH_SECRET="replace-with-a-random-32-byte-base64-secret"

# Seed-only: plaintext password for the admin account created by prisma/seed.ts.
ADMIN_SEED_PASSWORD="ChangeMe123!"
